@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    @apply text-lg font-normal;
}

h1, h2, h3,h4,h5,h6, strong {
    @apply font-semibold
}

.wrapper {
    @apply max-w-[1236px] px-[10px] py-0 mx-auto
}
.shadow-cs {
    box-shadow:         0px 0px 5px 1px rgba(171,164,164,0.20);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(171,164,164,0.20);
    -moz-box-shadow:    0px 0px 5px 1px rgba(171,164,164,0.20);
}

img {
    max-width: 100%;
}

